h1
{
    color: #ffffff;
}
form
{
    color: #ffffff;
}
body {
    background-image: url(https://cdn.shopify.com/s/files/1/0101/2522/files/275840-2560_grande.jpg?v=1480461160);
}
#resultado
{
    color: white;
    width:400px;
}
#mostrar {
    background: #3196D9;
    width: 200px;
    font-size: 60px;
}



